.main-center {
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 70px;
  }
  
  .main-center .list_detail_bill {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .main-center .list_detail_bill form {
    width: 60%;
    margin: auto;
  }
  
  .main-center .list_detail_bill form table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .main-center .list_detail_bill form table thead tr {
    background-color: black;
    color: white;
  }
  
  .main-center .list_detail_bill form table thead tr th {
    padding: 20px 25px;
    font-weight: 400;
  }
  
  .main-center .list_detail_bill form table tbody tr td,
  .main-center .list_detail_bill form table tfoot tr td {
    padding: 20px;
  }
  
  .main-center .list_detail_bill form table thead tr,
  .main-center .list_detail_bill form table tbody tr,
  .main-center .list_detail_bill form table tfoot tr {
    border-bottom: 1px solid black;
  }
  
  .main-center .list_detail_bill form table tbody tr {
    width: 100%;
  }
  
  .main-center .list_detail_bill form table tbody i {
    cursor: pointer;
    border-radius: 100%;
    font-size: 1.2rem;
  }
  
  .main-center .list_detail_bill form table tbody i:hover {
    color: red;
  }
  
  .main-center .list_detail_bill form table tbody img {
    width: 70px;
    height: 70px;
  }
  
  .main-center .list_detail_bill form table tbody input {
    font-size: 1.1rem;
    background: #fffbf2;
    border-bottom: 1px solid;
    border: 0;
    outline: 0;
  }
  .ip {
    width: 230px;
  }
  .main-center .list_detail_bill form table tfoot {
    text-align: right;
  }
  
  .main-center .list_detail_bill form table tfoot input {
    padding: 13px 25px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: black;
    color: white;
    border: 1px solid black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: 0;
  }
  
  .main-center .list_detail_bill form table tfoot input:hover {
    background-color: white;
    color: black;
  }